.btn {
  margin-left: 10px;
  width: 90px;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid rgb(222, 55, 228);
  background-color: transparent;
  font-weight: 800;
  color: rgb(71, 8, 129);
}

.btn:hover {
  transform: scale(1.08);
  background-color: rgb(241, 143, 204);
  outline: none;
}
