.list {
  width: 300px;
  padding: 10px;
  border: 1px solid rgb(212, 55, 212);
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(235, 218, 218, 0.5);
}
.listItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.itemText {
  font-weight: 500;
  color: rgb(77, 20, 182);
}
.text {
  margin-left: 8px;
  font-weight: 400;
}
